<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Spring MVC Application</display-name>

	<!-- Hello Web -->

	<servlet>
		<servlet-name>HelloWeb</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelloWeb</servlet-name>
		<url-pattern>/helloweb</url-pattern>
	</servlet-mapping>

	<!-- Redirect -->

	<servlet>
		<servlet-name>Redirect</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Redirect</servlet-name>
		<url-pattern>/finalPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Redirect</servlet-name>
		<url-pattern>/redirect-index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Redirect</servlet-name>
		<url-pattern>/redirect</url-pattern>
	</servlet-mapping>

	<!-- Static Page -->

	<servlet>
		<servlet-name>StaticPage</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>StaticPage</servlet-name>
		<url-pattern>/static-index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StaticPage</servlet-name>
		<url-pattern>/staticPage</url-pattern>
	</servlet-mapping>

	<!-- Student/Form -->

	<servlet>
		<servlet-name>Form</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Form</servlet-name>
		<url-pattern>/addStudent-form</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Form</servlet-name>
		<url-pattern>/student-form</url-pattern>
	</servlet-mapping>

	<!-- Student/Exception -->

	<servlet>
		<servlet-name>Exception</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Exception</servlet-name>
		<url-pattern>/addStudent-exception</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Exception</servlet-name>
		<url-pattern>/student-exception</url-pattern>
	</servlet-mapping>

</web-app>